# This Git ignore file should be treated WITH care.
#
# Keep it easy to understand and concise that means follow these rules:
#
# - Add stuff when needed, DO not copy stuff from the internet
#   just to ignore a whole set of files you think
#   might be needed in the future.
#
# - Do NOT add here ignores which are deeply nested in the
#   repository structure, instead
#   use deidcated local `.gitignore` files inside the directories to
#   ignore what you need. This file should ONLY deal common top-level
#   ignores and things you want to ignore.

# Direnv cache folder.
.direnv
# Devenv cache folder.
.devenv

# General output folder.
.output

# Config files which are linked.
.prettierrc.yaml
.yamllint.yaml
.typos.toml

node_modules
/.svelte-kit
.vercel/output/config.json
.vercel/output/functions/index.func
.vercel/output/functions/!\[-]/catchall.func/.vc-config.json
.vercel/output/functions/!\[-]/catchall.func/package.json
.vercel/output/functions/!\[-]/catchall.func/.svelte-kit/output/server/index.js
.vercel/output/functions/!\[-]/catchall.func/.svelte-kit/output/server/chunks/exports.js
.vercel/output/functions/!\[-]/catchall.func/.svelte-kit/output/server/chunks/i18n.js
.vercel/output/functions/!\[-]/catchall.func/.svelte-kit/output/server/chunks/index.js
.vercel/output/functions/!\[-]/catchall.func/.svelte-kit/output/server/chunks/index2.js
.vercel/output/functions/!\[-]/catchall.func/.svelte-kit/output/server/chunks/internal.js
.vercel/output/functions/!\[-]/catchall.func/.svelte-kit/output/server/entries/fallbacks/error.svelte.js
.vercel/output/functions/!\[-]/catchall.func/.svelte-kit/output/server/entries/pages/_layout.svelte.js
.vercel/output/functions/!\[-]/catchall.func/.svelte-kit/output/server/entries/pages/_page.svelte.js
.vercel/output/functions/!\[-]/catchall.func/.svelte-kit/output/server/nodes/0.js
.vercel/output/functions/!\[-]/catchall.func/.svelte-kit/output/server/nodes/1.js
.vercel/output/functions/!\[-]/catchall.func/.svelte-kit/output/server/nodes/2.js
.vercel/output/functions/!\[-]/catchall.func/.svelte-kit/vercel-tmp/index.js
.vercel/output/functions/!\[-]/catchall.func/.svelte-kit/vercel-tmp/manifest.js
.vercel/output/functions/index/__data.json.func
.vercel/output/static/.DS_Store
.vercel/output/static/favicon.png
.vercel/output/static/Radial.svg
.vercel/output/static/_app/version.json
.vercel/output/static/_app/immutable/assets/_layout.DXrQak18.css
.vercel/output/static/_app/immutable/assets/_page.bVsDfEGT.css
.vercel/output/static/_app/immutable/assets/0.CHVWKI7A.css
.vercel/output/static/_app/immutable/assets/2.kEsL3VIQ.css
.vercel/output/static/_app/immutable/chunks/CcvmAcUS.js
.vercel/output/static/_app/immutable/chunks/CqJ7fbEK.js
.vercel/output/static/_app/immutable/chunks/CWj6FrbW.js
.vercel/output/static/_app/immutable/chunks/DGtL6-ne.js
.vercel/output/static/_app/immutable/chunks/DKG_vcLZ.js
.vercel/output/static/_app/immutable/chunks/Dl5us_4S.js
.vercel/output/static/_app/immutable/chunks/EqSlKfat.js
.vercel/output/static/_app/immutable/entry/app.DJTZ63Xh.js
.vercel/output/static/_app/immutable/entry/start.zmu0_vs0.js
.vercel/output/static/_app/immutable/nodes/0.DBk1YwQK.js
.vercel/output/static/_app/immutable/nodes/1.DataNcT7.js
.vercel/output/static/_app/immutable/nodes/2.DuTzhdDm.js
.vercel/output/static/datastream-layers/datastream-layer-1-dark.png
.vercel/output/static/datastream-layers/datastream-layer-1.png
.vercel/output/static/datastream-layers/datastream-layer-1.svg
.vercel/output/static/datastream-layers/datastream-layer-2-dark.png
.vercel/output/static/datastream-layers/datastream-layer-2.png
.vercel/output/static/datastream-layers/datastream-layer-2.svg
.vercel/output/static/datastream-layers/datastream-layer-3-dark.png
.vercel/output/static/datastream-layers/datastream-layer-3.png
.vercel/output/static/datastream-layers/datastream-layer-3.svg
.vercel/output/static/datastream-layers/datastream-layer-4-dark.png
.vercel/output/static/datastream-layers/datastream-layer-4.png
.vercel/output/static/datastream-layers/datastream-layer-4.svg
.vercel/output/static/datastream-layers/datastream-layer-5-dark.png
.vercel/output/static/datastream-layers/datastream-layer-5.png
.vercel/output/static/datastream-layers/datastream-layer-5.svg
.vercel/output/static/logos/final-logo.jpeg
.vercel/output/static/logos/logo_dark.svg
.vercel/output/static/logos/logo_light.svg
.vercel/output/static/logos/logo.svg
.vercel/output/static/logos/sdsc_white.svg
.vercel/output/static/logos/sdsc.svg
.vercel/output/static/lvc-examples/Datastream.svg
.vercel/output/static/lvc-examples/Map-dark.svg
.vercel/output/static/lvc-examples/Map.svg
.vercel/output/static/lvc-examples/Pills.svg
.vercel/output/static/lvc-examples/Sleep.svg
.vercel/output/static/lvc-examples/Tests.svg
.vercel/output/static/lvc-examples/Transfusion.svg
.vercel/output/static/posters/20250502_SGMAI2025_E-Poster_Lab_tests.pdf
.vercel/output/static/posters/SGAIM2025_E-Poster_BZD.pdf
.vercel/output/static/posters/SGAIM2025_E-Poster_Transfusions.pdf
.vercel/output/static/themes/coolwind.css
.vercel/output/static/themes/lucid.css
